#########################################################################################################
#                                            WFLY PLUGIN                                                #
#                                                                                                       #
#                                           Documentation :                                             #
#https://wayfly-documentation.gitbook.io/wayfly-wikihttps://wayfly-documentation.gitbook.io/wayfly-wiki #
#                                                                                                       #
#########################################################################################################

# NOTE : If you are using spigot server, you can't use Minimessage, you must use HexaDecimals format
# Example : #FFC77AHello!

version: '1.0.4.3'

mysql:
  enabled: false
  host: localhost
  port: 3306
  database: wfly
  username: root
  password: root

redis:
  enabled: false
  host: "127.0.0.1"
  port: 6379
  password: ""
  database: 0
  timeout: 2000
  pool:
    maxTotal: 8
    maxIdle: 8
    minIdle: 0


save-database-delay: 300 # in seconds

#see docs for more info
fly-decrement-method: PLAYER_FLY_MODE


#work only if fly-decrement-method is PLAYER_FLYING_MODE
fly-decrement-disabled-by-static: false
#in seconds
delay: 3 #may have a margin of error of 1 second


format-placeholder:
  seconds: true
  minutes: true
  hours: true
  days: true
  unlimited: "Unlimited" #need permission wfly.infinite.fly
  auto-format: true
  remove-null-values:
    enabled: true
    value: "#FFC77A0#FF9D00seconds"
  format: "#FFC77A%seconds%#FF9D00%seconds_suffixe% #FFC77A%minutes%#FF9D00%minutes_suffixe% #FFC77A%hours%#FF9D00%hours_suffixe% #FFC77A%days%#FF9D00%days_suffixe%"
  other-format:
    seconds_suffixe: "seconds"
    minutes_suffixe: "minutes"
    hours_suffixe: "hours"
    days_suffixe: "days"


command:
  alias:
    - "wfly"
    - "fly"


#see doc to see how to configure this part
fly-rules: [] #https://wayfly-documentation.gitbook.io/wayfly-wiki/configurations/conditions
decrementation-disable-by-condition: [] #https://wayfly-documentation.gitbook.io/wayfly-wiki/configurations/conditions/decrement-disable-by-conditions


# When true, the player will be teleported to the floor when their fly time expires or conditions are not met.
tp-on-floor-when-fly-disabled: true

auto-reactivate-fly-after-conditions-disable: true



enabled-new-condition-system: true #useless if you use WFLY since 1.0.4.3
#This feature is heavily focused on faction servers
#(and if you have any ideas to make this feature more powerful, let me know on my discord)
pvp:
  enabled-permission-range: false
  fly-disable-radius: 5
  bypass:
    placeholders:
      - "%lands_land_name_plain%"  # For example : The plugin checks if the land name around a player is the same.
      # If there are a player that return different of all player(in 10 block around), fly will disable.
      #- "%otherPlaceholder%"  # You can put other placeholder if needed.




cooldown-give:
  enabled: false # If true, a cooldown is applied after giving fly time before you can give again.
  custom-cooldown:
    enabled: false # If true, allows setting a custom cooldown duration. Both must be enabled to activate.
    cooldown: 5    # Custom cooldown time in seconds.
  limits:
    enabled: true
    give-minimum-value: 5    # Minimum number of seconds a player can give.
    give-maximum-value: 60   # Maximum number of seconds a player can give. Use "INFINITE" for no max limit.

decrement-offline: false

show-flytime-actionbar:
  enabled: false
  actionbar-message: "Flytime : %wfly_fly_remaining%"


